@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 257 50% 6%; /* Roxo/Azul escuro */
    --foreground: 0 0% 98%; /* Branco */

    --card: 257 50% 10%;
    --card-foreground: 0 0% 98%;

    --popover: 257 50% 6%;
    --popover-foreground: 0 0% 98%;

    --primary: 45 100% 51%; /* Amarelo */
    --primary-foreground: 257 50% 6%;

    --secondary: 257 50% 15%;
    --secondary-foreground: 0 0% 98%;

    --muted: 257 50% 15%;
    --muted-foreground: 0 0% 63.9%;

    --accent: 45 100% 51%;
    --accent-foreground: 257 50% 6%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 257 50% 15%;
    --input: 257 50% 15%;
    --ring: 45 100% 51%;

    --radius: 0.5rem;
  }

  /* O tema .dark não é mais necessário com essa base */
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-family: 'Inter', sans-serif;
  }
}